.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.product-rating{
  display: flex;
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom:15px;
}
.prodcut-price{
    margin-top: 5px;
}
.product-info{
    height: 100px;
    margin-bottom: 15px; 
}
.product > button{
    background: #FFE79A;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #5c533b #864a29;
    color: #111;
}
.product :hover{
    background-color: rgb(208, 246, 249);
}